<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>打开设置即可。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。立即。。。。。。。。信息。。。。。。。。。。。。。。。。。。</string>
		<key>footer</key>
		<string></string>
		<key>items</key>
		<array>
			<dict>
				<key>switchKye</key>
				<string>setting_push01_00_00</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>双色球</string>
				<key>subTitle</key>
				<string>每周二、四、日开奖</string>
			</dict>
			<dict>
				<key>switchKye</key>
				<string>setting_push01_00_01</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>双色球</string>
				<key>subTitle</key>
				<string>每周二、四、日开奖</string>
			</dict>
			<dict>
				<key>switchKye</key>
				<string>setting_push01_00_02</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>双色球</string>
				<key>subTitle</key>
				<string>每周二、四、日开奖</string>
			</dict>
			<dict>
				<key>switchKye</key>
				<string>setting_push01_00_03</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>双色球</string>
				<key>subTitle</key>
				<string>每周二、四、日开奖</string>
			</dict>
			<dict>
				<key>switchKye</key>
				<string>setting_push01_00_04</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>双色球</string>
				<key>subTitle</key>
				<string>每周二、四、日开奖</string>
			</dict>
			<dict>
				<key>switchKye</key>
				<string>setting_push01_00_05</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>双色球</string>
				<key>subTitle</key>
				<string>每周二、四、日开奖</string>
			</dict>
			<dict>
				<key>switchKye</key>
				<string>setting_push01_00_06</string>
				<key>cellType</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>title</key>
				<string>排列5</string>
				<key>subTitle</key>
				<string>每天开奖</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
