<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
        <array>
            <string>省1-市1</string>
            <string>省1-市2</string>
            <string>省1-市3</string>
            <string>省1-市4</string>
            <string>省1-市5</string>
            <string>省1-市6</string>
            <string>省1-市7</string>
            <string>省1-市8</string>
            <string>省1-市9</string>
            <string>省1-市10</string>
        </array>
		<key>name</key>
		<string>省1</string>
	</dict>
    <dict>
        <key>cities</key>
        <array>
            <string>省2-市1</string>
            <string>省2-市2</string>
            <string>省2-市3</string>
            <string>省2-市4</string>
            <string>省2-市5</string>
            <string>省2-市6</string>
            <string>省2-市7</string>
            <string>省2-市8</string>
            <string>省2-市9</string>
            <string>省2-市10</string>
        </array>
        <key>name</key>
        <string>省2</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>省3-市1</string>
            <string>省3-市2</string>
            <string>省3-市3</string>
            <string>省3-市4</string>
            <string>省3-市5</string>
            <string>省3-市6</string>
            <string>省3-市7</string>
            <string>省3-市8</string>
            <string>省3-市9</string>
            <string>省3-市10</string>
        </array>
        <key>name</key>
        <string>省3</string>
    </dict>
    <dict>
        <key>cities</key>
        <array>
            <string>省4-市1</string>
            <string>省4-市2</string>
            <string>省4-市3</string>
            <string>省4-市4</string>
            <string>省4-市5</string>
            <string>省4-市6</string>
            <string>省4-市7</string>
            <string>省4-市8</string>
            <string>省4-市9</string>
            <string>省4-市10</string>
        </array>
        <key>name</key>
        <string>省4</string>
    </dict>
</array>
</plist>
