<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>榴莲</string>
		<string>西瓜</string>
		<string>草莓</string>
		<string>苹果</string>
		<string>香蕉</string>
		<string>山竹</string>
		<string>奇异果</string>
		<string>芒果</string>
		<string>香梨</string>
		<string>石榴</string>
	</array>
    <array>
        <string>水煮肉片</string>
        <string>东坡肉</string>
        <string>叉烧肉</string>
        <string>肉夹馍</string>
        <string>手抓肉</string>
        <string>砂锅狗肉</string>
        <string>夹沙肉</string>
        <string>鱼香肉丝</string>
        <string>算啦狗肉</string>
        <string>咕噜肉</string>
        <string>牛肉面</string>
        <string>臊子面</string>
        <string>肥肠面</string>
    </array>
    <array>
        <string>矿泉水</string>
        <string>冰红茶</string>
        <string>绿茶</string>
        <string>茅台</string>
        <string>雪花</string>
        <string>黄河</string>
        <string>酸梅汤</string>
        <string>拉菲</string>
        <string>豆浆</string>
        <string>功能饮料</string>
    </array>
</array>
</plist>
